/*****SLIDING si-menu PANEL STYLESHEET*****/
/*****BY: AMIT JAKHU*****/
/*****WWW.AMITJAKHU.COM*****/

/*****FONTS*****/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700italic,700,300italic,300|Acme); /* Acme font is required for .arrow */

/*****END FONTS*****/

/*****DEMO ONLY*****/

::selection {
	color: #fff;
	background: #ec6912;
}

::-moz-selection {
	color: #fff;
	background: #ec6912;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background: white;
	font: normal 400 14px/21px 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1 {
	font: normal 600 48px/56px 'Source Sans Pro', Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	margin-bottom: 30px;
}

p {
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	margin-bottom: 20px;
}

strong {
	font-weight: 700;
}

/*****END DEMO ONLY*****/

.page {
	height:100%;
	width:100%;
	position: absolute;
}

#page1{
	background-image:url(../simon/simon-bw.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	z-index:0;
}


/** ANIMATONS (optional) **/
#si-menu, #si-menu .arrow {
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

/**END ANIMATONS **/


/*****PANEL*****/

#si-menu {
	background: #d3d7dc;
	border-right: 3px solid #fff;
	width: 100px;
	padding: 30px;
	position: fixed;
	z-index: 100000;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
	
	box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
}

#si-menu {
	left: 0; /* Change to right: 0; if you want the panel to display on the right side. */
}

#si-menu:hover, #si-menu:focus {
	left: 0 !important; /* Change to right: 0 !important; if you want the panel to display on the right side. */
}

#si-menu .arrow {
	right: 2px; /* Change to left: 2px; if you want the panel to display on the right side. */
}

#si-menu.open{
	left: 0 !important;
}

#si-menu.open:hover

#si-menu .arrow {
	font: normal 400 25px/25px 'Acme', Helvetica, Arial, sans-serif; /* Acme font is required for .arrow */
	color: rgba(0,0,0,0.75); /* Arrow color */
	width: 16px;
	height: 25px;
	display: block;
	position: absolute;
	top: 20px;
	cursor: default;
}

#si-menu:hover .arrow {
	transform: rotate(-180deg) translate(6px,-3px);
	-moz-transform: rotate(-180deg) translate(6px,-3px);
	-webkit-transform: rotate(-180deg) translate(6px,-3px);
}

#si-menu nav {
	position: relative;
	top: 75px;
}

.si-icon {
	background-image:url(../imgs/si-menu-icons-poppy.png);
	background-repeat:no-repeat;
	display: block;
	height: 100px;
}

#si-phone {
	background-position: -500px -10px;
}

#si-phone:active,
#si-phone:hover,
#si-phone:focus{
	background-position: -500px -110px;
} 

#si-facebook {
	background-position: 0px -10px;
}

#si-facebook:active,
#si-facebook:hover,
#si-facebook:focus{
	background-position: 0px -110px;
} 

#si-mail {
	background-position: -300px -10px;
}

#si-mail:active,
#si-mail:hover,
#si-mail:focus{
	background-position: -300px -110px;
} 

#si-twitter {
	background-position: -200px -10px;
}

#si-twitter:active,
#si-twitter:hover,
#si-twitter:focus{
	background-position: -200px -110px;
} 

#si-googlep {
	background-position: -100px -10px;
}

#si-googlep:active,
#si-googlep:hover,
#si-googlep:focus{
	background-position: -100px -110px;
} 

#si-text {
	background-position: -400px -10px;
}

#si-text:active,
#si-text:hover,
#si-text:focus{
	background-position: -400px -110px;
}

#si-linkedin {
        background-position: -600px -10px;
}

#si-linkedin:active,
#si-linkedin:hover,
#si-loinkedin:focus{
        background-position: -600px -110px;
}

.si-icon.mobile-big{
	background-image:url(../imgs/si-menu-icons-big-poppy.png);
	background-repeat:no-repeat;
	display: block;
	height: 110px;
	width:110px;
	margin-bottom:80px;
}

#si-phone.mobile-big {
	background-position: -1050px -40px;
}

#si-phone.mobile-big:active,
#si-phone.mobile-big:hover,
#si-phone.mobile-big:focus{
	background-position: -1050px -250px;
} 

#si-facebook.mobile-big {
	background-position: -50px -40px;
}

#si-facebook.mobile-big:active,
#si-facebook.mobile-big:hover,
#si-facebook.mobile-big:focus{
	background-position: -50px -250px;
} 

#si-mail.mobile-big {
	background-position: -650px -40px;
}

#si-mail.mobile-big:active,
#si-mail.mobile-big:hover,
#si-mail.mobile-big:focus{
	background-position: -650px -250px;
} 

#si-text.mobile-big {
	background-position: -850px -40px;
}

#si-text.mobile-big:active,
#si-text.mobile-big:hover,
#si-text.mobile-big:focus{
	background-position: -850px -250px;
} 

#si-twitter.mobile-big {
	background-position: -450px -40px;
}

#si-twitter.mobile-big:active,
#si-twitter.mobile-big:hover,
#si-twitter.mobile-big:focus{
	background-position: -450px -250px;
} 

#si-googlep.mobile-big {
	background-position: -250px -40px;
}

#si-googlep.mobile-big:active,
#si-googlep.mobile-big:hover,
#si-googlep.mobile-big:focus{
	background-position: -250px -250px;
} 


#si-linkedin.mobile-big {
        background-position: -1250px -40px;
}

#si-linkedin.mobile-big:active,
#si-linkedin.mobile-big:hover,
#si-linkedin.mobile-big:focus{
        background-position: -1250px -250px;
}
/*****END PANEL*****/