
/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700italic,700,300italic,300|Acme); /* Acme font is required for .arrow */

/* END FONTS */

::selection {
	color: #fff;
	background: #ec6912;
}

::-moz-selection {
	color: #fff;
	background: #ec6912;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	height: 100%;
	width: 100%;
	background: white;
	font: normal 400 14px/21px 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1 {
	font: normal 600 48px/56px 'Source Sans Pro', Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	margin-bottom: 30px;
}

p {
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	margin-bottom: 20px;
}

strong {
	font-weight: 700;
}

/*****END DEMO ONLY*****/

.page {
	height:100%;
	width:100%;
	position: absolute;
}

#user-photo{
	background-image:url(../simon/simon-bw.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	z-index:0;
}


/** ANIMATONS (optional) **/
#si-menu, #si-menu .arrow {
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

/**END ANIMATONS **/


/*****PANEL*****/

#si-menu {
	background: #d3d7dc;
	border-right: 3px solid #fff;
	width: 100px;
	height:100%;
	padding: 30px;
	position: absolute;
	z-index: 100000;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
	
	box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
}

#si-menu {
	left: -130px; /* Change to right: 0; if you want the panel to display on the right side. */
}

#si-menu:hover, #si-menu:focus, #si-menu:active, #si-menu.open {
	left: 0 !important; /* Change to right: 0 !important; if you want the panel to display on the right side. */
}


#si-menu nav {
}

.si-icon {
	background-image:url(../imgs/si-menu-icons-poppy.png);
	background-repeat:no-repeat;
	display: block;
	height: 100px;
}

#si-phone {
	background-position: -500px -10px;
}

#si-phone:active,
#si-phone:hover,
#si-phone:focus{
	background-position: -500px -110px;
} 

#si-facebook {
	background-position: 0px -10px;
}

#si-facebook:active,
#si-facebook:hover,
#si-facebook:focus{
	background-position: 0px -110px;
} 

#si-mail {
	background-position: -300px -10px;
}

#si-mail:active,
#si-mail:hover,
#si-mail:focus{
	background-position: -300px -110px;
} 

#si-twitter {
	background-position: -200px -10px;
}

#si-twitter:active,
#si-twitter:hover,
#si-twitter:focus{
	background-position: -200px -110px;
} 

#si-googlep {
	background-position: -100px -10px;
}

#si-googlep:active,
#si-googlep:hover,
#si-googlep:focus{
	background-position: -100px -110px;
} 

#si-text {
	background-position: -400px -10px;
}

#si-text:active,
#si-text:hover,
#si-text:focus{
	background-position: -400px -110px;
}

#si-linkedin {
        background-position: -600px -10px;
}

#si-linkedin:active,
#si-linkedin:hover,
#si-linkedin:focus{
        background-position: -600px -110px;
}